* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-color: #3347B0;
}

body {
    font-family: roboto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    height: 10dvh;
}

.logo {
    display: flex;
    color: white;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    gap: 12px;
}

.logout {
    display: flex;
    color: white;
    align-items: center;
    gap: 12px;
}

main {
    display: flex;
    height: 80dvh;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    gap: 15dvh;
}

.conteiner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-content p {
    font-weight: 200;
    font-size: 56px;
    font-style: light;
}

.main-content span{
    color: var(--main-color);
    font-weight: 600;
}

.button-conteiner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button-conteiner button{
    display: flex;
    background-color: var(--main-color);
    width: 400px;
    height: 200px;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    box-shadow: 10px 10px 5px #3347b078;
    border: none;
}

footer {
    display: flex;
    background-color: var(--main-color);
    height: 15dvh;
    justify-content: center;

}

.content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phone,
.email,
.adress {
    display: flex;
    color: white;
    font-weight: 400;
    gap: 10px;
}

.copyright {
    color: white;
}

.social-media {
    display: flex;
    gap: 20px;
}